Package: emt.paisseon.satella
Name: Satella
Version: 2.0.0~beta.1
Architecture: iphoneos-arm64
Description: Rootless StoreKit security-testing tweak for authorized applications
Maintainer: Lilliana
Author: Lilliana
Section: Development
Depends: mobilesubstrate, firmware (>= 15.0), preferenceloader, com.opa334.altlist
SileoDepiction: https://paisseon.github.io/depictions/Satella.json
Depiction: https://pinpal.github.io/Sileo-Depiction-WebViews/?json=https://paisseon.github.io/depictions/Satella.json&name=Satella&dev=Lilliana
Icon: https://paisseon.github.io/icons/Satella.png
